  <h1><%= @task.title %></h1>
   <p><strong>Details:</strong> <%= @task.details %></p>
   <p><strong>Completed:</strong> <%= @task.completed ? 'Yes' : 'No' %></p>

<%= link_to 'Back to Task List', tasks_path %>
